<%
const author = '[@' + config.author + '](' + config.url + config.root + ')';
const using = '[' + stellar_info('name') + '](' + stellar_info('tree') + ')';
const source = theme.footer.source;
function layoutDiv() {
  var wrapper = '<footer class="page-footer fs12"><hr><p align="center"><a href="https://vercel.com"><img src="https://cdn.jsdelivr.net/gh/wejudging/wejudging.github.io@main/source/images/内容分发-Vercel-black.svg" width="117" height="20"/></a> &nbsp&nbsp <a href="https://github.com/wejudging"><img src="https://cdn.jsdelivr.net/gh/wejudging/wejudging.github.io@main/source/images/网站部署-GitHub-5DADE2.svg" width="119" height="20"/></a> &nbsp&nbsp<a href="https://www.jsdelivr.com"><img src="https://cdn.jsdelivr.net/gh/wejudging/wejudging.github.io@main/source/images/图片分发-jsDelivr-red.svg" width="123" height="20"/></a> &nbsp&nbsp<a href="https://hexo.io"><img src="https://cdn.jsdelivr.net/gh/wejudging/wejudging.github.io@main/source/images/强力驱动-Hexo-blue.svg" width="111" height="20"/></a></p></footer>';
  return wrapper;
}
%>
<%- layoutDiv() %>

