<%
const author = '[@' + config.author + '](' + config.url + config.root + ')';
const using = '[' + stellar_info('name') + '](' + stellar_info('tree') + ')';
const source = theme.footer.source;
function layoutDiv() {
  var wrapper = '<footer class="page-footer fs12"><hr><div><a href="https://badgen.net/badge/:subject/:status/:color?icon=github">
    <img src="https://badgen.net/badge/:subject/:status/:color?icon=github"
        alt="Total alerts"/></a></div></footer>';
  return wrapper;
}
%>
<%- layoutDiv() %>

