<%
const author = '[@' + config.author + '](' + config.url + config.root + ')';
const using = '[' + stellar_info('name') + '](' + stellar_info('tree') + ')';
const source = theme.footer.source;
function layoutDiv() {
  var wrapper = '<footer><hr><p align="center"><a href="https://vercel.com"><img src="https://img.shields.io/badge/内容分发-Vercel-black?logo=vercel&logoColor=black&labelColor=FFC0CB"/></a></p><p align="center"><a href="https://www.jsdelivr.com"><img src="https://img.shields.io/badge/内容分发-jsDelivr-red?logo=jsdelivr&logoColor=red&labelColor=gold"/></a></p><p align="center"><a href="https://github.com/wejudging"><img src="https://img.shields.io/badge/自动部署-GitHub-5DADE2?logo=github&logoColor=5DADE2&labelColor=4D5656"/></a></p><p align="center"><a href="https://hexo.io"><img src="https://img.shields.io/badge/强力驱动-Hexo-blue?logo=hexo&logoColor=hexo&labelColor=FFA500"/></a></p></footer>';
  return wrapper;
}
%>
<%- layoutDiv() %>

