<%
const author = '[@' + config.author + '](' + config.url + config.root + ')';
const using = '[' + stellar_info('name') + '](' + stellar_info('tree') + ')';
const source = theme.footer.source;
function layoutDiv() {
  var wrapper = '<footer><hr><p align="center"><a href="https://github.com/wejudging"><img src="https://img.shields.io/badge/Hosted%20on-GitHub-5DADE2?logo=github&logoColor=5DADE2&labelColor=4D5656"/></a></p><p align="center"><a href=""><img src="/></a></p><p align="center"><a href=""><img src="/></a></p></footer>';
  return wrapper;
}
%>
<%- layoutDiv() %>

