<%
const author = '[@' + config.author + '](' + config.url + config.root + ')';
const using = '[' + stellar_info('name') + '](' + stellar_info('tree') + ')';
const source = theme.footer.source;
function layoutDiv() {
  var wrapper = '<footer><hr><p><a href="https://vercel.com"><img src="https://cdn.jsdelivr.net/gh/wejudging/wejudging.github.io@main/source/images/内容分发-Vercel-black.svg"/></a> <a href="https://www.jsdelivr.com"><img src="https://cdn.jsdelivr.net/gh/wejudging/wejudging.github.io@main/source/images/图片分发-jsDelivr-red.svg"/></a>  <a href="https://github.com/wejudging"><img src="https://cdn.jsdelivr.net/gh/wejudging/wejudging.github.io@main/source/images/网站部署-GitHub-5DADE2.svg"/></a> <a href="https://hexo.io"><img src="https://cdn.jsdelivr.net/gh/wejudging/wejudging.github.io@main/source/images/强力驱动-Hexo-blue.svg"/></a></p></footer>';
  return wrapper;
}
%>
<%- layoutDiv() %>

